#main{
    background-image: url(../images/background.jpg);
    background-size: contain;
}

#header{
    height: 10vh;
    background-color: none;
    color: #000;
}

#title{
    float: left;
    color: black;
}

#menu{
    float: right;
}

/*********************************************************/
#airBoard_zone{
    height: 30vh;
}

#airBoard_list{
    list-style-type: none;
}

.airBoard{
    margin: 20px;
    padding: 20px;
    float: left;
    height: 100px;
    background-color: #007bff;
}
/*********************************************************/

#bottom{
    height: 40vh;
}