#main{
    background-image: url(../images/background.jpg);
    background-size: contain;
}

#header{
    height: 10vh;
    background-color: none;
    color: #000;
    flex-direction: column;
}

#title{
    float: left;
    color: black;
}

input{
    float: right;
    margin: 20px;
    background: transparent;
    box-sizing: border-box;
    border: none;
    border-bottom:1px solid gray;
    font-size: medium;
}

/*********************************************************/
#airBoard_zone{
    display: flex;
}

#airBoard_list{
    list-style-type: none;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%;
}

.airBoard{
    margin: 20px;
    padding: 20px;
    float: left;
    height: 100px;
    width: 12%;
    background-color: #007bff;
}
/*********************************************************/

#bottom{
    height: 40vh;
}